@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

input{
  outline: none;
  background-color: transparent;  
}
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}