@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

input{
  outline: none;
  background-color: transparent;  
}
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.sidebar{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3B3C36;
  color:black;
  font-weight: 500;
}
html,
:host {
     text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

.bg{

  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: gray;
}

